.body1{
    display: inline-block;
    padding-left: 15px;
    background-color: aliceblue;
    border: 2px solid rgb(110, 94, 94);
}

.p1{
    width: 50%;
    height: 45px;
    text-align: left;
}
.img1{
    margin-top: -108px;
    margin-left: 61%;
    width: 250px;
    height: 150px;
    position: relative;
}
.ul_mainFeatures{
    display: inline;
}
.detail_button{
    margin-top: -103px;
    margin-left: 30%;
    width: 190px;
    border-radius: 14px;
    background-color: rgb(250, 161, 44);
    border: 1px solid rgba(241, 44, 9, 0.89);
    position: absolute;
    height: 50px;
    color: #FFFFFF;
    font-weight: 1000;
    font-size: 23px;
    cursor: pointer;
    transition: background 0.3s ease-in-out .1s;
}

.detail_button:hover{
background: rgb(66, 236, 80);
}